<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Get Estimates</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>Get Estimates</ion-title>
      <span
        routerLink="/"
        routerDirection="back"
        color="chh-css-primary2"
        slot="start"
      >
        <ion-icon name="arrow-back-outline" class="my-icon vcenter"></ion-icon>
      </span>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="2" size-md="6" size-xs="6">
          <ion-card>
            <img src="../../assets/img/Emergency call-amico.png" alt="ion" />
            <ion-card-content class="ion-text-center" style="height: 90px">
              <b>APE / Emergency</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2" size-md="6" size-xs="6">
          <ion-card>
            <img src="../../assets/img/Oral care-amico.png" alt="ion" />
            <ion-card-content class="ion-text-center" style="height: 90px">
              <b>Oral Health</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2" size-md="6" size-xs="6">
          <ion-card>
            <img src="../../assets/img/Abortion-amico.png" alt="ion" />
            <ion-card-content class="ion-text-center" style="height: 90px">
              <b>Maternity Plan</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
